body {
    background: #fafafa;
    width: 1000px;
    margin: auto;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(../Images/dino.png);
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 1;
}

.cactus1, .cactus2, .cactus3, .cactus4 {
    position: absolute;
    bottom: 0;
}

.cactus1 {
    width: 34px;
    height: 64px;
    background-image: url(../Images/cactus1.png);
}

.cactus2 {
    width: 59px;
    height: 58px;
    background-image: url(../Images/cactus2.png);
}

.cactus3 {
    width: 77px;
    height: 54px;
    background-image: url(../Images/cactus3.png);
}

.cactus4 {
    width: 95px;
    height: 48px;
    background-image: url(../Images/cactus4.png);
}

#game-start, #game-over {
    text-align: center;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 20px;
}

#game-start {
    margin-top: 10px;
    margin-bottom: 0px;
}

#game-over {
    margin-top: 5px;
    margin-bottom: 10px;
}

#restart {
    visibility: hidden;
    display: block;
    width: 50px;
    margin-left: 44.6%;
    margin-top: 0;
}

#score {
    text-align: right;
    color: #666666;
    font-family: fantasy;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

@keyframes slideRight {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    top: 50px;
    background-image: url(../Images/background.png);
    background-repeat: repeat-x;
    animation: slideRight 600s infinite linear;
    width: 1000px;
    height: 200px;
    animation-play-state: paused;
}